// Global
$mainPadding: 20px;

// Colors
$navBtnBgColorOnHover: rgb(231, 13, 68);
$navBtnBarBg: #fff;

// Animation
$animOnHover: 0.5s;

// Nav button
$btnMeasurements: 114px;
$btnMeasurementsOnHover: 120px;
$barWrapperWidth: 26px;
$barWrapperHeight: 18px;
